<!-- Start -->
<div class="container-fluid" style="background-color:#7bc4c7;width: 100vw;height: 100vh;">
    <div class="row">
      <div class="container ani" style="border-radius: 10px;">
        <div class="row" >
          <div class="col-12 col-md-6 py-5  d-flex align-items-center" style="border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" id="borderleft">
            <div class="row d-flex justify-content-center">
              <div class="col-12 my-3 text-center">
                <span class="heaa" style="color: white;font-size: x-large;font-weight: bold;">LOGIN</span>
              </div>
              <div class="col-8 my-2">
                <div class="row d-flex align-items-center bg-white">
                  <div class="col-2 p--0 d-flex justify-content-center left-round">
                    <i class="fa fa-user loginfont p-2"></i>
                  </div>
                  <div class="col-10 p--0">
                    <input class="form-control" type="email" Placeholder="Email Address" id="email" required
                      class="boxwidth right-round px-1 py-2" id="emaill" name="EmailID">
                  </div>
                </div>
              </div>
              <div class="col-8 my-2">
                <div class="row d-flex align-items-center bg-white">
                  <div class="col-2 p--0 d-flex justify-content-center left-round" >
                    <i class="fa fa-lock loginfont p-2"></i>
                  </div>
                  <div class="col-10 p--0">
                    <input class="form-control" type="password" id="pass" name="passwordd" Placeholder="Password" required
                      class="boxwidth right-round px-1 py-2">
                  </div>
                </div>
              </div>
              <div class="col-8 my-2">
                <div class="row d-flex align-items-center">
                  <div class="col-12 p--0 d-flex justify-content-start">
                    <button type="button"
                      class="btn btn-block btn--md waves-effect waves-light loginbutton" (click)="login()">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="logocircle overflow-hidden">
            <img src="./assets/user.jpg" width="84px" style="border-radius: 50px;" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start -->




